* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  main {
	display: flex;
	flex-direction: column;
	margin: 10vh auto;
	min-width: 210px;
	min-height: 300px;
	width: 40vw;
	height: 60vh;
	padding: 5px;
	border: 1px solid black;
  }
  
  header {
	display: flex;
	justify-content: space-between;
  }
  
  .content  {
	margin: 10px auto;
	border: 1px solid black;
	width: 100%;
	height: 85%;
  }
  
  .message-box {
	margin: 0 auto;
	width: 100%;
  }
  

  .message-box input {
	width: 83%;
  }
  
  .message-box button {
	width: 15%;
  }

.content{
	text-align: right;
}